.logoslideshow-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logoslide {
  border-radius: 10px;
  max-height: 80px;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
